<!DOCTYPE html>
<html>
<head>
<title>To-Do list</title>
<style>
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.note {
  width: 300px; /* Задайте желаемую фиксированную ширину контейнера заметки */
  word-wrap: break-word; /* Используйте word-wrap или overflow-wrap для переноса текста */
}
</style>
</head>
<body>
<div class="container">
  <h1>To-Do list</h1>
  <ul>
  {% for index, note in enumerate(notes) %}
  <li><div class="note">{{ note }}</div> <a href="{{ url_for('delete_note', note_index=index) }}">Delete</a></li>
  {% endfor %}
  </ul>
  <h2>Add new note</h2>
  <form action="/" method="post">
  <input type="text" name="note" placeholder="Enter new note" required>
  <button type="submit">Create</button>
  </form>
</div>
</body>
</html>